
@font-face {
    font-family: HasklugNF;
    src: url('./assets/fonts/Hasklug Nerd Font Complete Mono.otf');
}

body {
    font-family: HasklugNF, monospace;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: white;
    background-color: #1c1b19;
}

.box{
    width: 85%;
    height: 70%;
    display: flex;
	flex-flow: row wrap;
    align-items: center;
	justify-content:center;
    /* border: 1px solid #f75341; */
}

#img{
    width: 50%;
    min-width: 500px;
    height: 90%;
    min-height:400px;
    /* height: 350px; */
    background-image: url('assets/img/1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* border: 2px solid green; */
}

#links {
    width: 50%;
/*    height: 100%;*/
    /* border: 1px solid #f75341; */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

h1{
    display: inline;
}

form {
	display: inline;
}

input{
    font-family: HasklugNF, monospace;
	font-size: 2rem;
	font-weight: bold;
	border: none;
	background-color: transparent;
	color: #fbb829;
	width: 0px;
	max-width: 562px;
}

input:focus{
	outline: none;
	caret-color: transparent;
}

#cursorAnimation{
    border-bottom: white solid 1px;
    animation: blink 0.5s infinite step-end alternate;
}

#cols{
	width:100%;
	display:flex;
	flex-flow: row wrap;
	justify-content:space-evenly;
}

.col{
	width:20%;
	text-align: left;
}
ul, li{
	list-style:none;
	margin:0;
	padding:0;
}

a{
	text-decoration:none;
	color:white;
}

a:visited{
	color:white;
}

.shortcut{
	color: #fbb829;
;
}

@keyframes blink {
    50% {
        border-bottom-color: transparent;
    }
}

@media screen and (max-width: 1117px){
	#links{
		width: 100%;
	}
	
	.box{
		align-self: stretch;
	}

	input{
		max-width: 576px;
	}
}

@media screen and (min-width: 1118px) and (max-width: 1450px){
	.box{
		width:100%;
	}

	#img{
		min-width: unset;
		min-height: unset;
		width: 34%;
		height: 60%;
	}

	#links{
		width: 66%;
	}
}
